MONGO_URI=your_mongodb_connection_string
PORT=5000
UPSTASH_REDIS_REST_URL=your_upstash_redis_rest_url
UPSTASH_REDIS_REST_TOKEN=your_upstash_redis_rest_token
JWT_SECRET=601c1e5be48496e541b431da6610888cf35b4ebc4d43bba84e2493ccffa5eb6c
JWT_EXPIRES_IN=7d
NODE_ENV=development
